<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" metadata-complete="true"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

   <display-name>spr13978</display-name>

   <context-param>
      <param-name>defaultHtmlEscape</param-name>
      <param-value>true</param-value>
   </context-param>

   <session-config>
      <session-timeout>30</session-timeout>
   </session-config>

   <jsp-config>
      <jsp-property-group>
         <url-pattern>*.jsp</url-pattern>
         <page-encoding>UTF-8</page-encoding>
         <trim-directive-whitespaces>true</trim-directive-whitespaces>
      </jsp-property-group>
   </jsp-config>

   <welcome-file-list>
      <welcome-file>index.jsp</welcome-file>
   </welcome-file-list>

</web-app>
