<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0"
             xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">

    <persistence-unit name="TESTPU" transaction-type="RESOURCE_LOCAL">
        <mapping-file>orm.xml</mapping-file>

        <class>org.springframework.issues.TestEntity</class>
        
        <exclude-unlisted-classes>true</exclude-unlisted-classes>

        <properties>
            <!-- toplink logging configuration: http://www.oracle.com/technology/products/ias/toplink/jpa/howto/configure-logging.html -->
            <!-- toplink.logging.level: OFF|SEVERE|WARNING|INFO|CONFIG|FINE|FINER|FINEST -->
            <!-- PLEASE DO NOT issue this file with toplink.logging.level above INFO - the autobuild log files grow from 3Mb to over 100Mb -->
            <property name="toplink.logging.level" value="INFO"/>
            <property name="toplink.logging.timestamp" value="true"/>
            <property name="toplink.weaving" value="false"/>
        </properties>

    </persistence-unit>

</persistence>
