<!-- @version $Revision$ ($Author$) $Date$ -->
<!-- markdown 請見 https://blog.akquinet.de/2012/04/12/maven-sites-reloaded/ https://daringfireball.net/projects/markdown/syntax-->
 
# ${project.artifactId}的專案報表

## 這是使用Maven + Spring 的範例程式

本頁面格式 [參考](https://daringfireball.net/projects/markdown/syntax "語法")
<table><tr><td>
 <a href="https://daringfireball.net/projects/markdown/syntax">連結參考</a>
</td></tr></table>

