<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>SPR-12432</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"/>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>SPR-12432</h1>
    </div>
</div>
</body>
</html>