<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="pattern"
              value="%date{yyyy-MM-dd HH:mm:ss.SSS} | %-5level | %-16.16thread | %-42.42logger{42} | %message%n"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>target/test.log</file>
        <append>false</append>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
